<div [ngStyle]="{
  color,
  fontFamily: font,
  fontSize: size + 'px'
}">Bonjour ODDO BHF</div>

<div class="row">
  <div class="col"><input [(ngModel)]="color" type="color" class="form-control"></div>
  <div class="col"><input [(ngModel)]="size" type="number" class="form-control"></div>
  <div class="col">
    <select [(ngModel)]="font" class="form-control">
      <option value="garamond">garamond</option>
      <option value="arial">arial</option>
      <option value="verdana">verdana</option>
      <option value="times new roman">times new roman</option>
    </select>
    </div>
</div>
