<div class="row">
  <div class="col">
    <ol class="list-group">
      <li
        *ngFor="let todo of todos"
        class="list-group-item"
      >
      {{todo.name}} : {{todo.content}}

      <i class="bi bi-trash" (click)="deleteTodo(todo)"></i>
    </li>
    </ol>
  </div>
  <div class="col">
    <label for="name">name :</label>
    <input [(ngModel)]="todo.name" id="name" type="text" class="form-control">
    <label for="content">content :</label>
    <input [(ngModel)]="todo.content" id="content" type="text" class="form-control">
    <button
      [disabled]="!todo.name.trim() || !todo.content.trim()"
      (click)="addTodo()" class="btn btn-primary mt-2">
      add Todo
    </button>
  </div>
</div>
